@font-face {
  font-family: Pacifico;
  src: url('../assets/Pacifico/Pacifico-Regular.ttf');
}

.imageContainer {
  background-color: #042344;
  margin-bottom: 20px;
  border: 2px solid #c8a250;
  border-radius: 4px;
}

#app_name {
  font-family: 'Pacifico', cursive;
  color: #042344;
  font-size: 34px;
  text-shadow: 4px 4px 4px #ecf0f5;
}

.customContainer {
  background-color: #c39a46;
  border-radius: 4px;
  margin: 6%;
}

.blockquote-footer {
  font-size: 60%;
}
