<div class="container">
  <div class="customContainer">
    <p class="text-center" id="app_name">Lyrics Formatter</p>
    <div class="row imageContainer">
      <img
        id="image"
        src="../assets/COLC-Header2.png"
        class="img-fluid "
        alt="Center Of Life Church"
      />
    </div>
    <app-form></app-form>
  </div>

  <div class="container h-100 parent">
    <div class="row h-100 justify-content-center align-items-center ">
      <img class="companyLogo" id="image" src="./assets/logo.png" />
    </div>
  </div>
  <blockquote class="blockquote text-center">
    <footer class="blockquote-footer">
      &copy; 2018 BetaSync. All Right Reserved<cite title="Source Title"
        >| tel: 1 647-761-3147 | email: femisoyombo@gmail.com</cite
      >
      <Br />
      <cite title="Source Title">Lyrics Formatter</cite>

      <Br />
      <cite title="Source Title">Version 1.0.1</cite>

      <!--<p>{{ date | date: 'h:mm:ss a' }}</p>-->
    </footer>
  </blockquote>
</div>
