/* You can add global styles to this file, and also import other style files */

.companyLogo {
  width: 30%;
}

.h-100.parent {
  margin-top: 100px;
}

body {
  background-color: #042344;
  padding-top: 7px;
  font-weight: 500;
}
